Source: turnkey-chroot
Section: python
Priority: optional
Maintainer: Stefan Davis <stefan@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 python3-all (>= 3.11~),
 dh-python
Standards-Version: 4.0.0
X-Python-Version: >= 3.11

Package: turnkey-chroot
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: A library to interact with and/or run commands in a chroot
