Source: turnkey-chroot
Section: python
Maintainer: Stefan Davis <stefan@turnkeylinux.org>
Build-Depends:
 debhelper-compat (= 13),
 python3 (>= 3.13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-pytest,
Standards-Version: 4.7.2
X-Python-Version: >= 3.13
Vcs-Git: https://github.com/turnkeylinux/turnkey-chroot.git
Vcs-Browser: https://github.com/turnkeylinux/turnkey-chroot

Package: turnkey-chroot
Architecture: all
Depends:
 python3 (>= 3.13),
 ${python3:Depends},
 ${misc:Depends},
Description: A library to interact with and/or run commands in a chroot
